---
page_title: "Provider: Garage"
description: |-
  The Garage provider provides resources to interact with a Garage admin API.
---

# Garage Provider

The Garage provider provides resources to interact with a Garage admin API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
